<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>blog</display-name>
    <servlet-name>blog</servlet-name>
    <jsp-file>/blog.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>blog</servlet-name>
    <url-pattern>/blog</url-pattern>
    <url-pattern>/blog/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profile</display-name>
    <servlet-name>profile</servlet-name>
    <jsp-file>/profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
    <url-pattern>/profile/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>post</display-name>
    <servlet-name>post</servlet-name>
    <jsp-file>/post.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/post/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>users</display-name>
    <servlet-name>users</servlet-name>
    <jsp-file>/users.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>users</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editpost</display-name>
    <servlet-name>editpost</servlet-name>
    <jsp-file>/editpost.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>editpost</servlet-name>
    <url-pattern>/editpost/*</url-pattern>
  </servlet-mapping>
  <!-- Servlets used for the Captcha handling. -->
      <servlet>
		<servlet-name>StickyCaptcha</servlet-name>
		<servlet-class>nl.captcha.servlet.StickyCaptchaServlet</servlet-class>

        <init-param>
            <!-- Optional; defaults to 200. -->
            <param-name>captcha-width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <!-- Optional; defaults to 50. -->
            <param-name>captcha-height</param-name>
            <param-value>75</param-value>
        </init-param>
        <init-param>
            <!-- Time To Live, in ms. Optional; Defaults to 600000ms. -->
            <param-name>ttl</param-name>
            <param-value>100000</param-value>
        </init-param>
    </servlet>
    
	<servlet-mapping>
		<servlet-name>StickyCaptcha</servlet-name>
		<url-pattern>/stickyCaptcha.png</url-pattern>
	</servlet-mapping>
</web-app>